.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    background-image: url(../assets/bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}
.logo{
    width: 400px;
    margin-right: 13%;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.linkNav{
    margin-top: 15px;
    margin-right: 9px;
    text-decoration: none;
    color: white;
}
.linkCart{
    margin-top: 15px;
}