@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../assets/bosque.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
}
.logo{
    width: 400px;
    margin-right: 13%;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.linkNav{
    margin-top: 15px;
    margin-right: 9px;
    text-decoration: none;
    color: white;
    font-family: 'Creepster', cursive;  
}
.linkCart{
    margin-top: 15px;
}
.notSelected{
    color:white;
}
.selected{
    color: lawngreen;
}