.imagenItem{
    width: 160px;
    height: 185px;
}
.nombrePrecio{
    width: 160px;
    height: 160px;
    border: black 1px solid;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}
h4{
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
}
.btnAgregar{
    width: 100%;
    background-color: #171c36;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

.ContenedorItem{
    margin: 5px;
}